{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<section class="container px-4">
		<div class='w-50 m-auto'>
			<h1>Site en maintenance</h1>
			<h3>Veuillez revenir plus tard</h3>
		</div>
	</section>
{% endblock %}
